@import "~bootstrap/scss/bootstrap.scss";

.timer{
    text-align: center;
    background: black;
    width: 30%;
    margin: auto;
    margin-top: 20%;
}
.timer div{
    display: inline-block;
    font-size: 50px;
    line-height: 60px;
    background: black;
    color: white;
    padding: 10px;
    margin: 3px;
    
}
